<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
        {# Cargamos la librería #}
        {% load bootstrap4 %}
   
        {# CSS Bootstrap #}
        {% bootstrap_css %}
</head>
<body>
    {# Aqui debe ir el navbar con el login, profile, categories etcc #}
    {% block content %}{% endblock %}

    {# Aqui debe ir el footer #}
    {% bootstrap_javascript jquery='full' %}
</body>
</html>