{% extends "base.htm" %}
{% block content %}
<div class="container">

            <div class="row">
                
              <div class="col-lg-3">
                
                
                    {% if Categories %}
                        {% for cat in Categories %}
                            {% if cat.parentCategory %}
                                {% if cat.parentCategory.idC == 0 %}
                                    <p>
                                        <a class="btn btn-light" data-toggle="collapse" href="#{{cat.name}}" role="button" aria-expanded="false" aria-controls="{{cat.name}}">
                                            {{cat.name}}
                                        </a>
                                    </p>
                                {% else %}
                                    <div class="collapse" id="{{cat.parentCategory.name}}">
                                        <div class="card card-text">
                                            <a href="{{cat.idC}}" target="_self" rel="noopener noreferrer">{{cat.name}}</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        No hay Categorias
                    {% endif %}
                
              </div>
              <!-- /.col-lg-3 -->
              
                <div class="col-lg-9">
                    <div class="row">
                    {% for p in Products %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="media/{{p.image}}" width=50 height=150 alt=""></a>
                            
                            <div class="card-body">
                                <h4 class="card-title">
                                <a href="#">{{p.name}}</a>
                                </h4>MXN ${{p.prize}}</h5>
                                <p class="card-text">{{p.description}}</p>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
                        
{% endblock %}